<a href="https://colab.research.google.com/github/7h310v3/Baitap/blob/main/Baitap15_11_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup1 = ()
tup1 = (50,)

In [13]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [ ]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

tup3 = tup1 + tup2
print(tup3)

In [11]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: ignored

In [9]:
print(len((1, 2, 3)))

print((1, 2, 3) + (4, 5, 6))

print(('Hi!') * 3)

print(3 in (1, 2, 3))

for x in (1, 2, 3): print(x)

3
(1, 2, 3, 4, 5, 6)
Hi!Hi!Hi!
True
1
2
3

In [14]:
T = ('Red', 'Yellow', 'Green')

print(T[2])

print(T[-2])

print(T[1:])

Green
Yellow
('Yellow', 'Green')