<a href="https://colab.research.google.com/github/7h310v3/Baitap/blob/main/Baitap15_11_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)

Set.add("d")
print("\nSet after adding: ")
print(Set)

Set:
{'a', 'c', 'b'}

Set after adding:
{'d', 'a', 'c', 'b'}

In [5]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
  people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

People:
{'Archi', 'Idrish', 'Jay'}

Set after adding element: {1, 2, 3, 4, 5, 'Archi', 'Daxit', 'Idrish', 'Jay'}

In [6]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Wed', 'Sat', 'Thu', 'Fri', 'Tue', 'Mon'}

In [7]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)

set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [8]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
 
population = people.union(vampires)
print("Union using union() function")
print(population)

population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Idrish', 'Arjun', 'Karan', 'Archil', 'Jay'}

Union using '|' operator
{'Idrish', 'Deepanshu', 'Raju', 'Archil', 'Jay'}

In [10]:
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}

set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)

set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [12]:
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}

set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)

set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [13]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True