<a href="https://colab.research.google.com/github/7h310v3/Baitap/blob/main/Baitap15_11_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [5]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict1['Age'] = 8; 
dict1['School'] = "DPS School"; # Add new entry
print("dict1['Age']: ", dict1['Age'])
print("dict1['School']: ", dict1['School'])

dict1['Age']:  8
dict1['School']:  DPS School

In [38]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("Dict: ", dict1)
del dict1['Name'] 
print("After del 'Name'", dict1)
dict1.clear()
print("After clear: ",dict1)
del dict1

Dict:  {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
After del 'Name' {'Age': 7, 'Class': 'First'}
After clear:  {}

In [18]:
d1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

print("len:",len(d1))

print("After change to str",str(d1))

len: 3
After change to str {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

"{'Name': 'Zara', 'Age': 7, 'Class': 'First'}thelove"

In [37]:
d1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

print("Before clear: ", d1)

d2 = d1.copy()

d1.clear()

print("After clear: ", d1)

print("d2 : ", d2)

print("Name: ",d2.get("Name"))

print(d2.items())

print(d2.keys())

d1.update(d2)

print(d1.values())

print("After update d2: ", d1)

Before clear:  {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
After clear:  {}
d2 :  {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
Name:  Zara
dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])
dict_keys(['Name', 'Age', 'Class'])
dict_values(['Zara', 7, 'First'])
After update d2:  {'Name': 'Zara', 'Age': 7, 'Class': 'First'}